body{
    background-image: url(./fundo2.jpeg);
    background-position: center;
    background-size: auto;
    margin: 0;
}
.cabeçalho{
    background-color: #3b3381;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}
.fotos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.navebar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #a51313;
    width: 15%;
    margin-right: 10%;
    height: 100%;
}
.tamanho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    list-style: none;
}
.rodapé{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #3b3381;
    color: #0ad6bb;
}
*{
    font-family: 'Fauna One', serif;
}
.link{
    text-decoration: none;
    font-size: 1.5em;
    color: #0ad6bb;
}
.slogan{
    color: white;
}
.espaço{
    margin-bottom: 5%;
}
.corSobre{
    color: white;
}
.quadrado{
    width: 50%;
    margin-left: 5%;
}